.card {
   padding: 25px;
   font-family: "Urbanist" !important;
   border-left: "red";
}

h2 {
   font-family: "Urbanist" !important;
}

.box {
   list-style-type: none;
}

a .save:focus {
   outline: none;
   box-shadow: none;
}

a .delete:focus {
   outline: none;
   box-shadow: none;
}

table {
   font-family: arial, sans-serif;
   border-collapse: collapse;
   width: 100%;
}

td,
th {
   border: 1px solid #dddddd;
   text-align: left;
   padding: 8px;
}

tr:nth-child(even) {
   background-color: #dddddd;
}

input {
   margin-top: 280px;
   border-radius: 50%;
   width: 40px;
   cursor: pointer;
   height: 40px;
   background-color: white;
   outline: none;
   background-image: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-search-strong-256.png");
   background-size: 30px;
   background-position: center;
   font-size: 18px;
   color: grey;
   background-repeat: no-repeat;
   border: 1px solid grey;
   transition-property: width, border-radius, background-position,
      padding-left /*, transform*/;
   transition-duration: 0.5s;
}
input:focus {
   width: 330px;
   border-radius: 5px;
   cursor: text;
   padding-left: 40px;
   padding-right: 20px;
   background-position: 5px;
}
